body{
    font-family: 'Poppins', sans-serif;
    /* color: hsl(260, 8%, 14%) */
    color: hsl(257, 7%, 63%);
    margin: 0;
}

a{
    text-decoration: none;
    color: hsl(260, 8%, 14%)
}
.navbar a{
    float: right;
    padding-left: 25px;
}
.navbar .getstarted{
    margin-top: -10px ;
}
.navbar{
    margin-bottom: 10px;
    padding: 20px 100px;
}

#illustration{
    width: 40%;
    float: right;
}
.home{
    width: 40%;
    margin-left: 100px;
}
h1{
    font-size: 4em;
    font-weight: 700;
    margin-bottom: 0;
    color: hsl(260, 8%, 14%)
}
.home p{
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 50px;
}
.container-home{
    margin-bottom: 100px;
}
.getstarted{
    color: white;
    background-color: hsl(180, 66%, 49%);
    border-radius: 25px;
    padding: 10px 25px;
}

.form-container{
    width: 60%;
    padding: 30px 50px;
    background: url("images/bg-shorten-desktop.svg");
    margin: auto;
    background-color: hsl(257, 27%, 26%);
    border-radius: 10px;
    position: relative;
}

input[type="text"]{
    width: 82%;
    padding: 15px;
    border-radius: 10px;
    border: none;
}
input[type="submit"]{
    border: none;
    border-radius: 10px;
    padding: 15px 25px;
    margin-left: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
}
input[type="submit"]:hover{
    color: hsl(257, 27%, 26%);
    background: white;
    border: 1px solid hsl(180, 66%, 49%);
}
input{
    font-size: 1em;
}

.midcontainer{
    background: hsl(257, 20%, 95%);
    margin-top: -55px;
    padding: 100px 100px 50px;
    display: inline-block;
}
.advanced{
    width: 35%;
    margin: auto;
    text-align: center;
}
h2{
    font-size: 2.2em;
    color: hsl(260, 8%, 14%)
}
.advanced h2{
    margin-bottom: 0;
}

.info{
    width: 25%;
    float: left;
    margin: 20px 2.5%;
    background: white;
    padding: 0 20px;
    border-radius: 10px;
}
.img-container{
    background: hsl(257, 27%, 26%);
    border-radius: 50%;
    padding: 15px;
    display: inline-block;
    margin-top: -50px;
}
.img-container img{
    width: 40px;
}
h3{
    color: hsl(260, 8%, 14%);
}
#br{
    margin-top: 25px;
}
#dr{
    margin-top: 75px;
}
#fc{
    margin-top: 125px;
}

.beforefooter{
    background: url("images/bg-boost-desktop.svg");
    padding: 20px 25px 40px;
    background-color: hsl(257, 27%, 26%);
    text-align: center;
}
.beforefooter h2{
    color: white;
    margin-top: 0;
}



@media only screen and (max-width: 420px) {
    .container-home{
        text-align: center;
        margin-bottom: 50px;
    }
    #illustration{
        float: none;
        width: 95%;
    }
    .navbar{
        padding: 20px;
        text-align: initial;
    }
    #login{
        padding-left: 10px;
    }
    .home{
        width: 90%;
        margin: auto;
    }
    .home p{
        margin-bottom: 30px;
    }
    h1{
        font-size: 3em;
    }
    input[type="submit"]{
        width: 70%;
        margin: 20px auto 0;
        display: block;
    }
    input[type="text"]{
        width: 90%;
    }
    .form-container{
        width: 75%;
        padding: 20px 30px;
    }

    .midcontainer{
        padding: 70px 0 50px;
    }
    .advanced{
        width: 85%;
    }
    .info{
        float: none;
        width: 70%;
        padding-bottom: 10px;
        margin: auto;
        text-align: center;
    }
    #br, #fc, #dr{
        margin-top: 75px;
    }
}